{{- with index .Site.Data (.Get 0) }}
  <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
    {{- range sort . "weight" }}
      <div class="col d-flex align-items-start mb-3">
        {{- with .icon }}
          <div
            class="text-bg-light p-1 rounded d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3 mt-1">
            {{ partial "icons/icon" (merge (dict "width" "2em" "height" "2em" "vendor" "bootstrap") .) }}
          </div>
        {{- end }}
        <div>
          <h3 class="fs-2">{{ .title }}</h3>
          <p class="mb-0">{{ .description | markdownify }}</p>
        </div>
      </div>
    {{- end }}
  </div>
{{- end -}}
